language: node_js
node_js:
  - "7"

install:
  - npm install

script:
  - npm run flow
  - npm run build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
